#! /usr/bin/env nextflow

nextflow.enable.dsl=2

// Parameters for the nextflow pipeline
params {
  wrap = false

/*
  genbank_ids = "data/gb.ids"
  sequences = "data/sequences.fasta"
  metadata = "data/metadata.tsv"
  exclude = "data/dropped_strains.txt"
  reference = "data/zika_outgroup.gb"   // maybe call this outgroup?
  colors = "data/colors.tsv"            // by clade I suppose...
  lat_longs = "data/lat_longs.tsv"
  auspice_config = "data/auspice_config.json"
  gff = "results/sars-cov-2/genemap.gff"
  ref_fa = "results/sars-cov-2/reference.fasta"
*/
  outdir = "results"

  // link any executables
  docker_img = 'nextstrain/base'
  augur_app = "augur"
  nextclade_app = "nextclade"
  nextalign_app = "nextalign"
  conda_env = "environment.yml"

  threads = 4
  queueSize = 10
  clusterOptions = false
  yaml = false
}

// Environment variables, passed everywhere
env {
    augur_app = params.augur_app ? "${params.augur_app}" : "augur"
    nextclade_app = params.nextclade_app ? "${params.nextclade_app}" : "nextclade"
    nextalign_app = params.nextalign_app ? "${params.nextalign_app}" : "nextalign"
}

// Pick a profile  -profile "aws"
profiles {
//  local { }
//  conda {} // https://github.com/nextstrain/ncov/blob/master/workflow/envs/nextstrain.yaml
  slurm { includeConfig 'configs/slurm.config' }
//  pbs   { includeConfig 'configs/pbs.config' }
//  aws   { includeConfig 'configs/aws.config'}
//  docker {
//    docker.enabled = true
//    docker.runOptions = '-u \$(id -u):\$(id -g)'
//      process.container = "$params.docker_img"
//  }
//  singularity {
//    singularity.enabled = true
//    singularity.autoMounts = true
//  }
//  custom { includeConfig 'configs/custom.config' }

// test {} // pull a test dataset, and run nextflow
}

process {
  publishDir = "$params.outdir"
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
